.portfolio{
  @include mobile{
    margin-block: 9em;
  }
  &__list{
    display: grid;
    gap: 2.5em;
    align-items: center;
    justify-content: center;
    grid-template-columns: 55% auto;

    @include mobile{
      grid-template-columns: auto;
    }
  }
  &__item{
    &:first-child{
      align-self: start;
      grid-row: span 2;
    }
    &:last-child{
      align-self: start;
      grid-column: span 2;


      @include mobile{
        grid-column: 1;
      }
    }
  }
}