:root{
//  объявляем базовые переменные макета
  --color-dark: rgb(2, 2, 2);
  --color-light: #fff;
  --color-gray: #ffffff80;
  --color-gray-alt: #0000009A;
  --color-accent: #FFD600;

  --border-thin: 1px solid var(--color-light);
  --border: 1.84px solid var(--color-light);
  --border-bold: 5px solid var(--color-light);
  --border-radius: 75px;
  --border-radius-small: 35px;
  --border-radius-large: 100px;

  --font-family-base: 'PP Neue Machina', sans-serif;

  --container-width: 1040px;
  --container-width-alt: 1280px;
  --container-padding-x: 20px;

  --input-height: 48px;
  --button-height: 48px;

  --transition-duration: 0.2s;
}