@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina-InktrapLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina-PlainLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina-PlainRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina-PlainUltrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina-InktrapUltrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.17;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-size: clamp(16px, 0.8333333333vw, 12px);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  font-size: clamp(35px, 5.5555555556vw, 80px);
}

h2, .h2, h3 {
  font-size: clamp(30px, 3.125vw, 45px);
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container,
.container-alt {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
}

.container-alt {
  max-width: calc(var(--container-width-alt) + var(--container-padding-x) * 2);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-dark: rgb(2, 2, 2);
  --color-light: #fff;
  --color-gray: #ffffff80;
  --color-gray-alt: #0000009A;
  --color-accent: #FFD600;
  --border-thin: 1px solid var(--color-light);
  --border: 1.84px solid var(--color-light);
  --border-bold: 5px solid var(--color-light);
  --border-radius: 75px;
  --border-radius-small: 35px;
  --border-radius-large: 100px;
  --font-family-base: "PP Neue Machina", sans-serif;
  --container-width: 1040px;
  --container-width-alt: 1280px;
  --container-padding-x: 20px;
  --input-height: 48px;
  --button-height: 48px;
  --transition-duration: 0.2s;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.header__info {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: clamp(12px, 1.5277777778vw, 22px);
}
.header__info {
  text-align: right;
}
.header__info-location {
  color: var(--color-gray);
  margin-right: 1.9em;
}

.hero {
  background: url("../../images/hero-background.png") center/contain no-repeat;
  padding-block: 1.8em;
  font-size: clamp(35px, 5.5555555556vw, 80px);
}
.hero__title {
  width: 100%;
  max-width: 761px;
  margin-inline: auto;
  font-weight: 400;
  text-align: center;
}
.hero__text--accent {
  position: relative;
  top: -0.2em;
  border: var(--border-bold);
  border-radius: var(--border-radius-large);
  padding: 0.36em 1.2em;
  margin-left: 0.5em;
  font-size: clamp(18px, 3.4722222222vw, 50px);
}
@media (max-width: 768px) {
  .hero__text--accent {
    border: var(--border);
  }
}
.hero__text--highlight {
  margin-left: 1.9em;
  font-size: clamp(35px, 6.9444444444vw, 100px);
}

.skills {
  position: relative;
}
.skills::before, .skills::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-light);
  height: 1px;
}
.skills::before {
  top: -2.27em;
  width: 70%;
}
.skills::after {
  width: 50%;
  right: 0;
  bottom: -2.3em;
}
.skills__inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.skills__list {
  display: flex;
  align-items: center;
  column-gap: 1.6em;
  font-size: clamp(15px, 2.0833333333vw, 30px);
}
.skills__list:nth-child(odd) {
  translate: -180% 0;
}
@media (max-width: 768px) {
  .skills__list:nth-child(odd) {
    translate: -270% 0;
  }
}
.skills__item {
  flex-shrink: 0;
}
.skills__item:nth-child(even) {
  color: var(--color-gray);
  font-weight: 600;
}
.skills__item:nth-child(odd) {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.43em 1.5em;
}

.projects {
  padding-block: 9em;
}
.projects__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5em;
}
.projects__list {
  display: flex;
  flex-direction: column;
  row-gap: 13.05em;
}
@media (max-width: 768px) {
  .projects__list {
    row-gap: 3.1em;
  }
}

.project-card {
  gap: 1.87em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }
}
.project-card__number {
  background-color: var(--color-accent);
  flex-shrink: 0;
  text-align: center;
  align-content: center;
  color: var(--color-dark);
  width: 2.9em;
  aspect-ratio: 1;
  font-size: clamp(23px, 3.4722222222vw, 50px);
}
@media (max-width: 768px) {
  .project-card__number {
    align-self: start;
  }
}
.project-card__image {
  height: auto;
  width: 100%;
  min-width: 16.93em;
}
@media (max-width: 768px) {
  .project-card__image {
    width: 80%;
  }
}
.project-card__body {
  margin-inline: 1em;
  min-width: 21.5em;
  color: var(--color-dark);
  background-color: var(--color-light);
  padding: 2.62em 2.62em 4.8em;
}
@media (min-width: 769px) {
  .project-card__body {
    margin: 0;
    align-self: end;
    translate: 0 9.3em;
  }
}
.project-card__title {
  padding-bottom: 1em;
}
.project-card__subtitle {
  font-weight: 300;
}
.project-card__tagline {
  line-height: 1.2;
  padding-bottom: 0.57em;
}
.project-card__description {
  font-size: clamp(14px, 1.3888888889vw, 20px);
}

.about-me {
  font-style: italic;
}
@media (min-width: 769px) {
  .about-me {
    margin-block: 10em;
  }
}
.about-me__border {
  position: relative;
  height: 2px;
  background-color: var(--color-light);
}
.about-me__border--up::before, .about-me__border--up::after, .about-me__border--down::before, .about-me__border--down::after {
  position: absolute;
  font-size: clamp(17px, 1.7361111111vw, 25px);
}
.about-me__border--up::before, .about-me__border--up::after {
  content: "About";
  top: 18px;
}
.about-me__border--up::after, .about-me__border--down::after {
  font-weight: 600;
  right: 0;
}
.about-me__border--down::before, .about-me__border--down::after {
  content: "Me";
  top: -40px;
}
.about-me__description {
  margin-top: 1.3em;
  line-height: 117%;
  font-size: clamp(40px, 4.5138888889vw, 65px);
}
.about-me__link {
  transition-duration: var(--transition-duration);
  position: relative;
  margin-block: 2.7em;
  margin-left: 3.8em;
  padding: 0.6em 1.2em;
  border: var(--border);
  border-radius: var(--border-radius-large);
  font-size: clamp(22px, 2.5694444444vw, 37px);
}
.about-me__link:hover {
  box-shadow: 0 0 20px 1px var(--color-light);
}
.about-me__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.5em;
  translate: -100% -50%;
  background: url("../../images/svg/Arrow.svg") center/contain no-repeat;
  width: 2.7em;
  aspect-ratio: 1;
}

@media (max-width: 768px) {
  .portfolio {
    margin-block: 9em;
  }
}
.portfolio__list {
  display: grid;
  gap: 2.5em;
  align-items: center;
  justify-content: center;
  grid-template-columns: 55% auto;
}
@media (max-width: 768px) {
  .portfolio__list {
    grid-template-columns: auto;
  }
}
.portfolio__item:first-child {
  align-self: start;
  grid-row: span 2;
}
.portfolio__item:last-child {
  align-self: start;
  grid-column: span 2;
}
@media (max-width: 768px) {
  .portfolio__item:last-child {
    grid-column: 1;
  }
}

.portfolio-card {
  border-radius: var(--border-radius-small);
  position: relative;
  width: 100%;
  transition-duration: var(--transition-duration);
}
.portfolio-card:hover {
  box-shadow: 0 0 20px 1px var(--color-light);
}
.portfolio-card__image {
  min-width: 100%;
  border-radius: var(--border-radius-small);
}
@media (max-width: 768px) {
  .portfolio-card__image {
    min-height: 13em;
  }
}
.portfolio-card__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color-gray-alt);
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  padding-block: 1.37em;
  padding-left: 3.4em;
}
.portfolio-card__subtitle {
  font-size: clamp(14px, 0.9722222222vw, 14px);
}
.portfolio-card__title {
  font-size: clamp(18px, 1.7361111111vw, 25px);
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
@media (min-width: 769px) {
  .footer {
    margin-top: 10em;
  }
}
.footer__nav {
  margin-top: 1em;
}
.footer__nav-list {
  display: flex;
  column-gap: 2em;
}
.footer__nav-link {
  transition-duration: var(--transition-duration);
}
.footer__nav-link:hover {
  color: var(--color-gray);
}
.footer__subscribe {
  margin-top: 1.6em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.footer__subscribe-title {
  font-weight: 600;
}
.footer__subscribe-field {
  display: flex;
  column-gap: 1em;
}
@media (max-width: 768px) {
  .footer__subscribe-field {
    flex-direction: column;
    row-gap: 1em;
  }
}
.footer__subscribe-input {
  padding: 0.75em;
  height: var(--input-height);
}
.footer__subscribe-button {
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  padding-inline: 1.5em;
  height: var(--button-height);
  max-width: 7.9em;
  transition-duration: var(--transition-duration);
}
.footer__subscribe-button:hover {
  color: var(--color-gray);
  border-color: var(--color-gray);
}
.footer__subscribe-policy {
  font-size: clamp(12px, 0.8333333333vw, 12px);
}
.footer__subscribe-policy-link {
  text-decoration: underline;
}
.footer__extra {
  position: relative;
  width: 100%;
  display: inherit;
  justify-content: inherit;
  margin-block: 4em;
  padding-top: 4em;
}
.footer__extra::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--color-light);
}
@media (min-width: 1281px) {
  .footer__extra::before {
    transform: scaleX(123%);
  }
}
.footer__soc1als-list {
  display: flex;
  column-gap: 1.2em;
}

.logo {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: clamp(12px, 1.5277777778vw, 22px);
}
.logo__author-name {
  color: var(--color-gray);
}
.logo__author-surname {
  margin-left: 1.9em;
}

/*# sourceMappingURL=styles.css.map */
